h3 {
    text-align: center;
}
#window {
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 0px;
    margin: 0 auto;

}
.wrapper img {
    width: 200px;
    height: 100%;
}
.wrapper {
    display: flex;
    gap:0px;
    border-radius: 10px;
    border: 15px solid black;
}
#form {
    background-color: white;
    padding-left: 35px;
}
.wrapper #first {
    font-weight: 500;
}
