#page {
    max-width: 800px;
    margin: 60px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: rgb(35, 75, 100);
    text-align: center;
    height: 100px;
}
#headerline1 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}
#headerline2 {
    color: whitesmoke;
    margin-bottom: 10px;
}
#headerline3 {
    display: flex;
    gap: 40px;
    justify-content: center;
    color: white;
    font-size: 10px;
}
.pin {
    margin-top: 50px;
    color: rgb(148, 146, 146);
    font-size: 11px;
}
.article-title {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: -15px; 
}
.article-title img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.article {
    text-align: justify;
    color:rgb(124, 119, 119);
    margin-top: 25px;
}
.author {
    font-size: 11px;
    color: rgb(133, 128, 128);
    margin-bottom: 20px;
}
.author .name {
    color: rgb(74, 202, 224);
}
.author #CSS {
    color: white;
    background-color: rgb(35, 121, 68);
}
.author #HTML {
        color: white;
        background-color: rgb(17, 147, 187);
}
.author #Javascript {
            color: white;
            background-color: rgb(224, 26, 85);
}
.author #uncategorized {
    color: white;
    background-color: rgb(156, 153, 155);
}
.image1 {
    background-image: url("images/zurag1.JPG");
    background-size: contain;
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
}
.image2 {
    background-image: url("images/zurag2.JPG");
    width: 500px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}
#imagecontainer {
    display: flex;
    gap: 30px;
}
.image1 p {
    position: absolute;
    bottom: 0;
    color: white;
}
.image2 p {
    position: absolute;
    bottom: 0;
    color: white;
}
.footer {
    background-color: black;
    color: white;
    height: 150px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
    margin-top: 40px;
    font-size: 32px;
}
