#one {
    font-weight: bold;
}
#hi {
    font-style: italic;
}
#two {
    text-transform: uppercase;
}
#three {
    text-transform: capitalize;
}
.mid-line {
    text-decoration: line-through;
}
.under-line {
    text-decoration: underline;
}
a {
    color: orange;
    text-decoration: none;
}
a:visited {
    color: rgb(0, 255, 162);
    text-decoration: underline;
}
a:hover {
    color:deeppink;
    text-decoration: underline;
}
#four {
    text-transform: capitalize;
}
#exone {
    font-weight: bold;
}
#extwo {
    text-decoration: line-through;
}
#exthree {
    font-style: italic;
}
#exfour {
    text-decoration: underline;
}
#exfive {
    text-decoration: line-through;
}
#ex8:hover {
    background-color: yellow;
    color:aqua;
    font-size: 25px;
    border-style: dotted;
}
#button {
    background-color:orange;
    color: white;
    border-style: none;
}
#button:active {
    background-color: green;
    color: black;
    border-style:solid;
}
#ex10 {
    color:rgba(124, 84, 10, 0.89);
    background-color: red;
    border-radius: 50%;
    border: 1px;
    border-color: black;
    border-style:dotted;
}
#ex10:hover {
    color:white;
    background-color: orange;
    border-radius: 50%;
    border: 1px;
    border-color: rgb(16, 191, 235);
    border-style:solid;
}